* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  padding: 20px;
}

header {
  padding-bottom: 20px;
  border-bottom: 1px solid #d1d1d1;
}

nav > a {
  font-size: 1.3rem;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav > a:hover {
  text-decoration: underline;
}

header > input {
  padding: 10px 20px;
}

footer {
  border-top: 1px solid #d1d1d1;
  padding-top: 20px;
}

/* ================================ */
/* Add your CSS below this line */
/* ================================ */




header {
  /* background-color: brown; */
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 20px;
}


header > p {
 font-weight: 900;
}


nav > a {
  /* background-color: green; */
  padding: 5px;
 margin: 0 10px;
 text-decoration: none;
 /* color: #333; */
 display: inline-block;
 transition: transform 0.3s ease;
}


nav > a:hover {
 transform: translateY(-3px);
}


section {
  /* background-color: aqua; */
 display: flex;
 flex-direction: column;
 
}


section > aside {
 /* background-color: red; */
 width: 100%;
 padding: 10px;
}


aside > ul {
  /* background-color: purple; */
 display: flex;
 flex-direction: column;
 gap: 10px;
 padding: 0;
 margin: 0;
 list-style: none;
}


aside > ul > li {
 width: 100px;
}


section > main {
 flex: 1 0 auto;
 padding: 10px;
}
figcaption {
   font-weight: bold;
 }
 figure > p{
   margin: 5px 0;
 }


.products-container {
 display: grid;
 grid-template-columns: 1fr;
 gap: 20px;
}


.products-container img {
 width: 100%;
 transition: transform 0.4s ease, box-shadow 0.3s ease-in;
}


.products-container img:hover {
 transform: translateY(-4px);
 box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
 cursor: pointer;
}




@media (min-width: 768px) {
 main > h1 {
   margin: 40px 0;
 }
 section {
   flex-direction: row;
 }


 section > aside {
   flex: 0 0 250px;
 }


 section > main {
   flex: 1 0 auto;
 }
  figcaption {
   font-weight: bold;
 }


 .products-container {
   grid-template-columns: repeat(2, 1fr);
 }
}




@media (min-width: 992px) {
 .products-container {
   grid-template-columns: repeat(3, 1fr);
 }


 main > h1 {
   margin: 40px 0;
 }


 nav > a {
   margin: 0 20px;
 }


 figcaption {
   font-weight: bold;
 }
}


footer{
  /* background-color: red; */
  text-align: center;
  padding: 20px;
}
