* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  padding: 20px;
}

header {
  padding-bottom: 20px;
  border-bottom: 1px solid #d1d1d1;
}

nav > a {
  font-size: 1.3rem;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav > a:hover {
  text-decoration: underline;
}

header > input {
  padding: 10px 20px;
}

footer {
  border-top: 1px solid #d1d1d1;
  padding-top: 20px;
}

/* ================================ */
/* Add your CSS below this line */
/* ================================ */
